.tableRow {
  display: grid;
  grid-template-columns: 30px 3fr 1fr 4fr 30px;
  padding: 3px 0;
  width: 100%;
  gap: 10px;
}

.tableRow:hover {
  background: #dbebe0;
}

.activeTableRow {
  background: #bcd1c2;
}
