.tableTitle {
}

.tableWrapper {
  background-color: #e2e2e2;
  padding: 10px;
  width: 480px;
  height: 100%;
}

.table {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: calc(100% - 40px);
}

.tableHead {
  display: flex;
  gap: 10px;
}

.tableBody {
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow-y: auto;
  height: 100%;
}
