.tableTitle {
}

.tableWrapper {
  background-color: #e2e2e2;
  padding: 10px;
  width: 480px;
}

.table {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.tableHead {
  display: flex;
  gap: 10px;
}

.tableBody {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
