.tableRow {
  display: grid;
  grid-template-columns: 30px 1fr 1fr 1fr 30px;
  width: 100%;
  gap: 10px;
}

.selectedTableRow {
  background-color: #ebcdcd;
}

.cell {
  /* border: 1px solid silver; */
}
